body {
   text-align: center;
   justify-content: center;
   display: flex; 
   background-color: lightpink;
   border: solid 30px palevioletred;
}
.box{
  background-color: palevioletred; 
  height: auto;
  width: auto;
  padding: 100px; 
   /* border: solid 20px black;  */
   box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(223, 29, 126) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(95, 92, 94) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
   
  margin-top: 200px;
  margin-bottom: 340px;
}
.t1{
  padding: 10px;
  margin-top: -90px;
  font-style: italic;
  font-family: serif;
  text-decoration: underline;

  
}
.N1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.LN1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.E1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.P1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.PN1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.A1 {
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif;
} 
.G1{
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif ;
}
.C1{
  padding: 10px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif ;
}
.T1{
  padding: 15px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif ;
}
.B1{
  padding: 5px;
  font-style: italic;
  font-weight:  bolder;
  font-family: serif ;
  border: solid 2px;
  border-radius: 10px;
}
.error{
  color: rgb(5, 24, 82);
  margin-top: 5px;
}